ansible==2.7.10
awscli==1.14.28
boto==2.45.0
boto3==1.10.50
botocore==1.13.50
docutils==0.14
fabric==1.14.0
futures==3.2.0
Jinja2==2.10
jsonpatch==1.2
jsonpointer==1.9
Markdown==2.4.1
MarkupSafe==0.11
prettytable==0.7.2
python-dateutil==2.7.3
requests==2.6.0
rsa==3.4.2
s3transfer==0.2.0
urllib3==1.25.7
jmespath==0.7.1